* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  font-size: 2vw;
}
body {
  background-color: #0b0b0b;
  color: #ccc;
  font-family: Inter, sans-serif;
  text-align: center;
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  opacity: 0;
  animation: fadeSlideshow 18s linear infinite;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 6s;
}
.slide:nth-child(3) {
  animation-delay: 12s;
}

@keyframes fadeSlideshow {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 2. THE GLASS CARD CONTAINER */
.glass-card {
  padding: 2.5rem;
  border-radius: 16px;
  color: #ffffff;

  /* --- THE THREE MAGIC PILLARS OF GLASS --- */
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px); /* Safari Support */
  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2vw;
  white-space: no-wrap;
  color: #ccc;
}
p {
  font-size: 1.5vw;
  color: rgb(162, 162, 162);
}
